<!DOCTYPE html>
<html>
<head>
<title>UniMatch Registration</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="static/registration.css" rel="stylesheet" type="text/css" media="all" />
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Caveat|Kaushan+Script" rel="stylesheet">
</head>
<body>
	<div class="main-w3layouts wrapper">
		<h1 style="font-family: 'Kaushan Script', cursive;">UniMatch SignUp Form</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="/reg" method="post" enctype="multipart/form-data">
					<input class="text" type="text" name="username" placeholder="Username" required="">

					<input class="text" type="password" name="password" placeholder="Password (min 8 characters)" required="" style="margin-top: 25px;" pattern=".{8,}">

					<input class="text w3lpass" type="password" name="confirm_password" placeholder="Confirm Password" required="">

					<input class="text" type="email" name="email" placeholder="Email Id" required="" style="margin-top: 25px;">

					<input class="text" type="text" name="contactinfo" placeholder="Contact Info - instagram id/contact number etc." required="" style="margin-top: 25px;"><br>
					<input type="file" name="file">

					<div class="wthree-text">
						<div class="clear"> </div>
					</div>
					<input type="submit" value="Register">
				</form>
			</div>
		</div>
		<!-- copyright -->
		<div class="colorlibcopy-agile">
			<p>© 2019 UniMatch. All rights reserved | Design by <a href="bit.do/unimatch" target="_blank">UniMatch</a></p>
		</div>
		<!-- //copyright -->
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</body>
</html>