<!DOCTYPE html>
<html>
<head>
<title>UniMatch</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="static/registration.css" rel="stylesheet" type="text/css" media="all" />
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Caveat|Kaushan+Script|Gaegu" rel="stylesheet"> 
</head>
<body>
<div class="main-w3layouts wrapper">

	<div style="font-size: 15px;">
	<h1 style="font-family: 'Kaushan Script', cursive; font-size: 15px; color: white;">Wrong Credentials</h1><br>
	<h1><a href="{{ url_for('home') }}" style="color: orange; font-size: 15px;font-family: 'Gaegu', cursive;">Log in to your UniMatch Account!</a></h1>
</div>
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			
		</ul>
	</div>

</body>
</html>